<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script>
      $(function(){
        var Card = function(color, shape, number, shade) {
          this.init(color, shape, number, shade);
        }
        Card.prototype = {
            color: null,
            shape: null,
            number: null,
            shade: null,
            
            init: function(color, shape, number, shade) {
              this.color  = this.validateValue(color);
              this.shape  = this.validateValue(shape);
              this.number = this.validateValue(number);
              this.shade  = this.validateValue(shade);
            },
            validateValue: function(v) {
              if (v == 0 || v == 1 || v == 2) {
                return v;
              }
              throw "Invalid Value: " + v;
            },
            getColor: function() {
              var colors = ["#ED1F24","#32CE06","#0611CE"];              
              return colors[this.color];
            },
            getShape: function() {
              var shapes = ["square", "circle", "diamond"];
              return shapes[this.shape];
            },
            getNumber: function() {
              return this.number + 1;
            },
            getShade: function(id) {
              if (this.shade == 0) {
                return "#FFFFFF";
              } else if (this.shade == 1) {
                return "url(#polkadot" + id + ")";
              } else {
                return this.getColor();
              }
            },
            getId: function() {
              return "" + this.color + this.shape + this.number + this.shade;
            },
            draw: function(element) {
              _.templateSettings.variable = "card";
              var template = _.template($("script."+this.getShape()).html());
              var data = {
                id: this.getId(),
                fill: this.getShade(this.getId()),
                color: this.getColor(),
                number: this.getNumber()
              };
              
              var td = $(element.html(template(data)));
              var svg = $(td.find("svg")[0]);

              svg.click(function(event) {
                var svg = event.target.viewportElement;
                var found = $.inArray(svg.id, selected);
                if (found < 0) { // not selected yet
                  selected.push(svg.id); // put it in the selected array
                  svg.firstElementChild.style.fill = "#999999"; // change the color so the user know it was selected
                } else { // already selected
                  selected.splice(found, 1); // remove it from the selected array
                  svg.firstElementChild.style.fill = "#EDEDED"; // change the color back to the original color
                }
                if (selected.length == 3) {
                  if (isValidSet(selected[0], selected[1], selected[2])) {
                    alert('You found a match!!!');
                    $(selected).each(function(index, id) {
                      var svg = $('#'+id)[0];
                      var parent = $(svg.parentNode);
                      svg.remove();
                      if (cards.length > 0) {
                        var index = Math.floor(Math.random()*cards.length);
                        var card = cards.splice(index, 1).pop();
                        card.draw(parent);
                      }
                    });
                  } else {
                    alert('Invalid match!!!');
                    $(selected).each(function(index, id) {
                      $('#'+id)[0].firstElementChild.style.fill = "#EDEDED";
                    });
                  }
                  selected.splice(0,3);
                }
              });
              
              return svg;
            }
        };
        
        // Create a variable to represent the cards a user has selected
        var selected = new Array();
        
        // Create a set of cards containing every permutation of 
        // color, shape, number, shade
        var cards = createDeck();
        
        // Draw each of the cards on the board
        for (var row=1;row<5;row++) {
          for (var col=1;col<4;col++) {
            var index = Math.floor(Math.random()*cards.length);
            var card = cards.splice(index, 1).pop();
            card.draw($("#" + row + col));
          }
        }
        
        function createDeck()
        {
          var cards = new Array();

          /**
           * TODO:
           *
           * Create a card object for every permutation of color, shape, number, and shade.
           * Each attribute of the card is represented by a number 0, 1, or 2.
           * You create a card like this: var card = new Card(0,0,0,0);
           * After you create the card, push it on to the cards array.
           *
           */
           for (var color=0; color<3; color++) {
             for (var shape=0; shape<3; shape++) {
               for (var number=0; number<3; number++) {
                 for (var shade=0; shade<3; shade++) {
                   cards.push(new Card(color,shape,number,shade));
                 }
               }
             }
           }
          
          return cards;
        }
        
        function isValidSet(first, second, third) {
          /**
           * TODO:
           *
           * Fill out this method. Make it return true if the selected
           * cards are a valid match, otherwise return false. 
           * Each of the three values are 4 digit strings, ie. "0212"
           * The each digit of the string represents a single attribute of the card.
           * You need to compare the each digit of the three strings to make sure
           * they are either all the same or all different.
           *
           */

           }

      });
    </script>
  </head>
  <body>
    <table id="board">
      <tr>
        <td id="11">
        </td>
        <td id="12">
        </td>
        <td id="13">
        </td>
      </tr>
      <tr>
        <td id="21">
        </td>
        <td id="22">
        </td>
        <td id="23">
        </td>
      </tr>
      <tr>
        <td id="31">
        </td>
        <td id="32">
        </td>
        <td id="33">
        </td>
      </tr>
      <tr>
        <td id="41">
        </td>
        <td id="42">
        </td>
        <td id="43">
        </td>
      </tr>
    </table>
    <script type="text/template" class="square">
      <svg xmlns="http://www.w3.org/2000/svg" width="210px" height="135px" id="<%- card.id %>">
      <rect x="3" y="3" width="204" height="129" rx="8" ry="8" fill="#EDEDED" stroke="#DEDEDE" stroke-width="1"/>
      <pattern id="polkadot<%- card.id %>" patternUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
        <rect x="0" y="0" width="9" height="9" fill="white"/>
        <circle cx="5" cy="5" r="2" fill="<%- card.color %>"/>
      </pattern>
      <% if (card.number == 3) { %>
        <rect x="20" y="20" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3" width="50" height="25"/>
      <% } %>
      <% if (card.number == 2) { %>
        <rect x="50" y="37.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3" width="50" height="25"/>
      <% } %>
      <% if (card.number == 1 || card.number == 3) { %>
        <rect x="80" y="55" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3" width="50" height="25"/>
      <% } %>
      <% if (card.number == 2) { %>
        <rect x="110" y="72.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3" width="50" height="25"/>
      <% } %>
      <% if (card.number == 3) { %>
        <rect x="140" y="90" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3" width="50" height="25"/>
      <% } %>
      </svg>
    </script>
    <script type="text/template" class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="210px" height="135px" id="<%- card.id %>">
      <rect x="3" y="3" width="204" height="129" rx="8" ry="8" fill="#EDEDED" stroke="#DEDEDE" stroke-width="1"/>
      <pattern id="polkadot<%- card.id %>" patternUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
        <rect x="0" y="0" width="9" height="9" fill="white"/>
        <circle cx="5" cy="5" r="2" fill="<%- card.color %>"/>
      </pattern>
      <% if (card.number == 3) { %>
        <ellipse cx="45" cy="32.5" rx="25" ry="12.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 2) { %>
        <ellipse cx="75" cy="50" rx="25" ry="12.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 1 || card.number == 3) { %>
        <ellipse cx="105" cy="67.5" rx="25" ry="12.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 2) { %>
        <ellipse cx="135" cy="85" rx="25" ry="12.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 3) { %>
        <ellipse cx="165" cy="102.5" rx="25" ry="12.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      </svg>
    </script>
    <script type="text/template" class="diamond">
      <svg xmlns="http://www.w3.org/2000/svg" width="210px" height="135px" id="<%- card.id %>">
      <rect x="3" y="3" width="204" height="129" rx="8" ry="8" fill="#EDEDED" stroke="#DEDEDE" stroke-width="1"/>
      <pattern id="polkadot<%- card.id %>" patternUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
        <rect x="0" y="0" width="9" height="9" fill="white"/>
        <circle cx="5" cy="5" r="2" fill="<%- card.color %>"/>
      </pattern>
      <% if (card.number == 3) { %>
        <polygon points="45,20 70,32.5 45,45 20,32.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 2) { %>
        <polygon points="75,37.5 100,50 75,62.5 50,50" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 1 || card.number == 3) { %>
        <polygon points="105,55 130,67.5 105,80 80,67.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 2) { %>
        <polygon points="135,72.5 160,85 135,97.5 110,85" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      <% if (card.number == 3) { %>
        <polygon points="165,90 190,102.5 165,115 140,102.5" fill="<%- card.fill %>" stroke="<%- card.color %>" stroke-width="3"/>
      <% } %>
      </svg>
    </script>
  </body>
</html>
